body {
    font-family: montserrat-light !important;
    color: $black !important;
}
h1 {
    b {
        font-family: montserrat-bold !important;
    }
}

h2 {
    font-family: montserrat-hairline !important;
    b {
        font-family: montserrat-bold !important;
    }
}

h3 {
    font-family: montserrat-light !important;
    &.font-bold {
        font-family: montserrat-bold !important;
    }
}

h5 {
    font-family: montserrat-bold !important;
}

p {
    b {
        font-family: montserrat-bold !important;
    }
}

ul.list {
    padding-inline-start: 0px !important;
    li {
        list-style: none;
        b {
            font-family: montserrat-bold !important;
        }
        &::before {
            content: "";
            display: inline-block;
            height: 25px;
            width: 25px;
            margin-right: 7px;
            background-image: url("../../public/images/svg/checklist.svg");
            background-repeat: no-repeat;
            vertical-align: bottom;
        }
    }
}

.nav-parent {
    border-top: solid 1px #f1f1f1;
    border-bottom: solid 1px #f1f1f1;
    padding: 10px 0px 10px 0px;
    .navbar {
        .navbar-brand {
            width: 18%;
        }
        .nav-item {
            &.last {
                .nav-link {
                    padding-right: 0rem !important;
                }
            }
        }
        .nav-link {
            padding-right: 1rem !important;
            &:hover, .nav-link:focus {
                color: #168fee !important;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $black !important;
        } 
    }
}

.jumbotron-parent {
    border-bottom: solid 1px #f1f1f1;
    margin-bottom: 50px;
    .jumbotron {
        background-color: #ffffff !important;
        padding: 4rem unset !important;
        margin-bottom: unset !important;
         ul {
             padding-inline-start: 15px;
             li {
                 font-family: montserrat-hairline !important;
                 margin-bottom: 10px;
             }
         }
     }
}

.feature {
    p {
        font-family: montserrat-hairline !important;
    }
}

.card-deck {
.card {
    font-family: roboto-light !important;
    margin-right: unset !important;
    margin-left: unset !important;
    border-radius: 0px !important;
    sup {
        font-size: 50% !important;
    }
    .card-body {
        text-align: center;
        padding: 0px !important;
        b {
            font-family: roboto-bold !important;
        }
        .card-title {
            padding: .5rem 0px !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
            font-family: roboto-bold !important;
            margin-bottom: 0px;
        }
        .price {
            padding: 1rem 0rem;
            p {
                text-decoration: line-through;
            }
        }
        .user {
            padding: .5rem 0px;
            border-top: 1px solid rgba(0, 0, 0, 0.125);
            border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
        .list {
            padding: 2rem 0px;
            .btn.btn-outline-dark {
                font-size: .9rem !important;
            }
        }
    }
    &.best-seller {
        border: 1px solid #168fee;
        .card-title {
            background: #168fee;
            background-clip: border-box;
            color: #ffffff;
        }
        .price {
            background: #168fee;
            background-clip: border-box;
            color: #ffffff;
        }
        .user {
            background: #107fde;
            background-clip: border-box;
            color: #ffffff;
        }
    }
}
}

.bg-gray {
    background-color: #f7f7f7;
    .row {
        padding: 25px 0px 25px 0px;
    }
}

.row.list-item {
    width: 80%;
    margin: 0 auto;
}
.list-group-item {
    text-align: center;
    padding: 0.5rem 1.25rem !important;
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    span {
        text-align: center;
    }
    &:nth-child(2) {
        background-color: #f7f7f7;
    }
    &:first-child {
        border-radius: unset !important;
    }
    &:last-child {
        border-radius: unset !important;
    }
    &::before {
        content: "";
        display: inline-block;
        height: 25px;
        width: 25px;
        position: absolute;
        left: 10px;
        background-image: url("../../public/images/svg/checklist.svg");
        background-repeat: no-repeat;
        vertical-align: bottom;
    }
}

hr {
    border-top: 4px solid #f1f1f1 !important;
    width: 90px;
}

.btn {
    &.btn-primary {
        background-color: #1690ef !important;
        border-color: #1690ef !important;
        padding: 10px 20px !important;
        font-family: montserrat-bold !important;
        font-size: 1.1rem !important;
    }
    &.btn-outline-dark {
        color: #4c4c4c;
        padding: 10px 30px !important;
        font-family: montserrat-bold !important;
        font-size: 1.1rem !important;
        border: 2px solid !important;
    }
    &.btn-outline-secondary {
        color: #ffffff;
        padding: 10px 30px !important;
        font-family: montserrat-light !important;
        font-size: 1.1rem !important;
        border: 2px solid #ffffff !important;
    }
}

footer {
    p {
        font-family: roboto-light !important;
        &.title {
            font-family: roboto-medium !important;
        }
    }
    hr {
        border-top: 1px solid #292929 !important;
        width: 100%;
    }
}

.ribbon-parent {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
}
.ribbon {
    margin: 0;
    text-align: center;
    background: #2fb359;
    color: white;
    padding: .5em 0;
    position: absolute;
    width: 200px;
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
    margin-bottom: 0;
    span {
        margin-left: 25px;
        font-family: roboto-bold !important;
        text-transform: uppercase;
        font-size: 14px;
    }
    &:before,.ribbon:after {
        content: '';
        position: absolute;
        top:0;
        margin: 0 -1px;
        width: 0%;
        height: 100%;
        background: #1d7832;
    }
    &:before {
        right:4px;
    }
    &:after {
        left:22px;
    }
  }

  .iconify {
    vertical-align: text-bottom !important;
  }