@font-face {
  font-family: montserrat-light;
  src: url(/fonts/Montserrat-Light.otf?f5e955efb2bef154ac6dd150903f2d45);
}

@font-face {
  font-family: montserrat-bold;
  src: url(/fonts/Montserrat-Bold.otf?5a6aef823dd8d1b22aacd78aebb653d6);
}

@font-face {
  font-family: montserrat-hairline;
  src: url(/fonts/Montserrat-Hairline.otf?af3ac151d996baa94cb52c8a3fe01218);
}

@font-face {
  font-family: roboto-medium;
  src: url(/fonts/Roboto-Medium.ttf?9745415b8a2a8b9a2480a12f7e2d3ad3);
}

@font-face {
  font-family: roboto-light;
  src: url(/fonts/Roboto-Light.ttf?d5c46b134c17b2138dcd1bb0efa67049);
}

@font-face {
  font-family: roboto-bold;
  src: url(/fonts/Roboto-Bold.ttf?36b5bab58a18b9c924861a4ccbf1a790);
}

body {
  font-family: montserrat-light !important;
  color: #4c4c4c !important;
}

h1 b {
  font-family: montserrat-bold !important;
}

h2 {
  font-family: montserrat-hairline !important;
}

h2 b {
  font-family: montserrat-bold !important;
}

h3 {
  font-family: montserrat-light !important;
}

h3.font-bold {
  font-family: montserrat-bold !important;
}

h5 {
  font-family: montserrat-bold !important;
}

p b {
  font-family: montserrat-bold !important;
}

.bg-sky {
  background-color: #1fa2f3;
}

ul.list {
  -webkit-padding-start: 0px !important;
          padding-inline-start: 0px !important;
}

ul.list li {
  list-style: none;
}

ul.list li b {
  font-family: montserrat-bold !important;
}

ul.list li::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 7px;
  background-image: url(/images/checklist.svg?217a0b111765a252c52b9ba22f5daa9b);
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.nav-parent {
  border-top: solid 1px #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
  padding: 10px 0px 10px 0px;
}

.nav-parent .navbar .navbar-brand {
  width: 18%;
}

.nav-parent .navbar .nav-item.last .nav-link {
  padding-right: 0rem !important;
}

.nav-parent .navbar .nav-link {
  padding-right: 1rem !important;
}

.nav-parent .navbar .nav-link:hover,
.nav-parent .navbar .nav-link .nav-link:focus {
  color: #168fee !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #4c4c4c !important;
}

.jumbotron-parent {
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 50px;
}

.jumbotron-parent .jumbotron {
  background-color: #ffffff !important;
  padding: 4rem unset !important;
  margin-bottom: unset !important;
}

.jumbotron-parent .jumbotron ul {
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

.jumbotron-parent .jumbotron ul li {
  font-family: montserrat-hairline !important;
  margin-bottom: 10px;
}

.feature p {
  font-family: montserrat-hairline !important;
}

.card-deck .card {
  font-family: roboto-light !important;
  margin-right: unset !important;
  margin-left: unset !important;
  border-radius: 0px !important;
}

.card-deck .card sup {
  font-size: 50% !important;
}

.card-deck .card .card-body {
  text-align: center;
  padding: 0px !important;
}

.card-deck .card .card-body b {
  font-family: roboto-bold !important;
}

.card-deck .card .card-body .card-title {
  padding: 0.5rem 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-family: roboto-bold !important;
  margin-bottom: 0px;
}

.card-deck .card .card-body .price {
  padding: 1rem 0rem;
}

.card-deck .card .card-body .price p {
  text-decoration: line-through;
}

.card-deck .card .card-body .user {
  padding: 0.5rem 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-deck .card .card-body .list {
  padding: 2rem 0px;
}

.card-deck .card .card-body .list .btn.btn-outline-dark {
  font-size: 0.9rem !important;
}

.card-deck .card.best-seller {
  border: 1px solid #168fee;
}

.card-deck .card.best-seller .card-title {
  background: #168fee;
  background-clip: border-box;
  color: #ffffff;
}

.card-deck .card.best-seller .price {
  background: #168fee;
  background-clip: border-box;
  color: #ffffff;
}

.card-deck .card.best-seller .user {
  background: #107fde;
  background-clip: border-box;
  color: #ffffff;
}

.bg-gray {
  background-color: #f7f7f7;
}

.bg-gray .row {
  padding: 25px 0px 25px 0px;
}

.row.list-item {
  width: 80%;
  margin: 0 auto;
}

.list-group-item {
  text-align: center;
  padding: 0.5rem 1.25rem !important;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.list-group-item span {
  text-align: center;
}

.list-group-item:nth-child(2) {
  background-color: #f7f7f7;
}

.list-group-item:first-child {
  border-radius: unset !important;
}

.list-group-item:last-child {
  border-radius: unset !important;
}

.list-group-item::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 10px;
  background-image: url(/images/checklist.svg?217a0b111765a252c52b9ba22f5daa9b);
  background-repeat: no-repeat;
  vertical-align: bottom;
}

.modul {
  text-align: center;
}

hr {
  border-top: 4px solid #f1f1f1 !important;
  width: 90px;
}

.btn.btn-primary {
  background-color: #1690ef !important;
  border-color: #1690ef !important;
  padding: 10px 20px !important;
  font-family: montserrat-bold !important;
  font-size: 1.1rem !important;
}

.btn.btn-outline-dark {
  color: #4c4c4c;
  padding: 10px 30px !important;
  font-family: montserrat-bold !important;
  font-size: 1.1rem !important;
  border: 2px solid !important;
}

.btn.btn-outline-secondary {
  color: #ffffff;
  padding: 10px 30px !important;
  font-family: montserrat-light !important;
  font-size: 1.1rem !important;
  border: 2px solid #ffffff !important;
}

footer {
  background-color: #303030;
}

footer p {
  color: #d8d8d8;
  font-family: roboto-light !important;
  font-size: 14px;
}

footer p.title {
  color: #8e8e8e;
  text-transform: uppercase;
  font-family: roboto-medium !important;
  font-size: 16px;
}

footer p.disable {
  color: #646464;
}

footer hr {
  border-top: 1px solid #292929 !important;
  width: 100%;
}

footer .form-control {
  border-radius: 50px !important;
  height: 45px !important;
  font-size: 15px;
  padding: 0px 20px;
}

footer .form-control::-webkit-input-placeholder {
  color: #acafb0;
}

footer .form-control::-moz-placeholder {
  color: #acafb0;
}

footer .form-control:-ms-input-placeholder {
  color: #acafb0;
}

footer .form-control::-ms-input-placeholder {
  color: #acafb0;
}

footer .form-control::placeholder {
  color: #acafb0;
}

footer .btn.btn-primary {
  position: absolute;
  top: 45px;
  right: 20px;
  font-size: 13px !important;
  padding: 8px 5px !important;
  font-family: montserrat-light !important;
}

footer .socmed img {
  width: 18%;
}

footer .payment img {
  width: 7%;
}

.ribbon-parent {
  width: 110px;
  height: 110px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.ribbon {
  margin: 0;
  text-align: center;
  background: #2fb359;
  color: white;
  padding: 0.5em 0;
  position: absolute;
  width: 200px;
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
  margin-bottom: 0;
}

.ribbon span {
  margin-left: 25px;
  font-family: roboto-bold !important;
  text-transform: uppercase;
  font-size: 14px;
}

.ribbon:before,
.ribbon .ribbon:after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 0%;
  height: 100%;
  background: #1d7832;
}

.ribbon:before {
  right: 4px;
}

.ribbon:after {
  left: 22px;
}

.iconify {
  vertical-align: text-bottom !important;
}

@media only screen and (max-width: 600px) {
  .nav-parent .navbar .navbar-brand {
    width: 45% !important;
  }

  .l-top-nav p {
    font-size: 13px;
  }

  .r-top-nav.d-flex {
    display: none !important;
  }

  .bg-sky h2 {
    font-size: 20px;
  }

  .bg-sky .ml-auto {
    margin-left: unset !important;
    margin-top: 20px;
  }

  .sect .btn {
    margin-bottom: 20px;
  }

  .modul {
    text-align: left;
    margin: 0 auto !important;
  }

  footer .socmed {
    margin-bottom: 20px;
  }

  footer .socmed img {
    width: 10%;
  }

  footer .payment img {
    width: 15%;
    margin-bottom: 10px;
  }
}


/*# sourceMappingURL=app.css.map*/